{%extends 'base.html'%}
{% load static %}
{% block title %}ShopeeX - Thêm tài khoản xử lí{% endblock %}
{% block style%}
<style>
    /* Add some custom styling */
    .form-card,
    .table-card {
        margin-bottom: 20px;
    }

    /* Centered modal styles */
    .modal-centered {
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Nhập thông tin tài khoản xử lí</h1>
        {% comment %} <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> {% endcomment %}
    </div>

    <!-- Content Row -->

    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-md-6">
                <!-- Input Form -->
                <div class="card">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="usernameInput">Tên đăng nhập</label>
                            <input type="text" class="form-control" id="usernameInput" placeholder="Tên đăng nhập">
                        </div>
                        <div class="form-group">
                            <label for="passwordInput">Mật khẩu</label>
                            <input type="password" class="form-control" id="passwordInput" placeholder="Mật khẩu">
                        </div>
                        <div class="form-group">
                            <label for="cookieInput">Cookies</label>
                            <input type="text" class="form-control" id="cookieInput" placeholder="Cookies">
                        </div>
                        <button class="btn btn-primary" id="addButton">Thêm</button>
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#modalMutipleAcc">
                            Nhập tài khoản hàng loạt
                        </button>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Đánh giá</h5>
                        <textarea class="form-control" id="commentInput" rows="5"
                            placeholder="Nhập đánh giá (mỗi dòng là một đánh giá)"></textarea>
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Ảnh đánh giá</h5>
                        <form action="/upload" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label for="fileUpload">Chọn nhiều file hoặc folder</label>
                                <input type="file" class="form-control-file" id="fileUpload" name="files" multiple
                                    webkitdirectory>
                            </div>
                            <!-- <button type="submit" class="btn btn-primary">Upload</button> -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Data Table -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>Cookies</th>
                            <th>Tên đăng nhập</th>
                            <th>Mật khẩu</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="data-table-body">
                        <!-- Rows will be added dynamically -->
                    </tbody>
                </table>
                <button class="btn btn-success" id="submitDataButton" style="display: none;">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn thêm những tài khoản này không? Không thể hủy khi đã xác nhận
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" class="btn btn-primary" id="confirmSaveButton" onclick="saveData()">Đồng
                    ý</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modalMutipleAcc">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nhập tài khoản hàng loạt</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <table class="table table-bordered" id="dataTable">
                    <!-- Initial row for reference -->
                    <tr>
                        <td><input type="text" class="form-control" placeholder="Tên đăng nhập"></td>
                        <td><input type="password" class="form-control" placeholder="Mật khẩu"></td>
                        <td><input type="text" class="form-control" placeholder="Cookies"></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="submitBtn">Thêm hàng loạt</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block script%}

<script src="{% static 'js/add_rating.js' %}"></script>
{% endblock %}